
<form action="" method="POST">
  <h1>Criando um usuario</h1>
  <div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite um nome" required>
  </div>
  <div class="form-control">
    <label for="email">E-mail:</label>
    <textarea type="email" name="email" placeholder="Digite um email?" required></textarea>
  </div>

   <div class="form-control">
    <label for="job">job:</label>
    <textarea type="text" name="job" placeholder="Profissão?" required></textarea>
  </div>
  <input type="submit" value="Criar">
</form>