
<form action="add" method="POST">
  <h1>Criando um usuario</h1>
  <div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite um nome" required>
  </div>
  <div class="form-control">
    <label for="">E-mail:</label>
    <input type="email" name="email" placeholder="Digite um email?" required></input>
  </div>
  <div class="form-control">
    <label for="">Senha:</label>
    <input type="password" name="password" placeholder="Digite uma senha?" required></input>
  </div>
  <div class="form-control">
    <label for="">Confirme Senha:</label>
    <input type="password" name="confirmpassword" placeholder="Confirme senha?" required></input>
  </div>

   <div class="form-control">
    <label for="job">job:</label>
    <textarea type="text" name="job" placeholder="Profissão?" required></textarea>
  </div>
  <input type="submit" value="Criar">
</form>